<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Authorship Viewport
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
    <title>Spatial.Bio Portal</title>
    <meta content="Spatial.Bio Portal" name="description">
    <meta content="Institute of Translational Genomics, USC 2019 David W. Craig" name="author">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

    <div id="itg_spatial_app" style="max-width:1500px;"></div>
    <script type="text/javascript" api="<%-global_api%>">
    <%- include wrapper.ejs %></script>

</body>
</html>
